body {
    font-family: Arial, sans-serif;
    background-color:rgb(34, 241, 241);
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

#fetchFactBtn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#fetchFactBtn:hover {
    background-color: #45a049;
}

#factDisplay {
    margin-top: 20px;
    font-style: italic;
}

#factPicture img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

#factCharacteristics {
    margin-top: 20px;
}
button{background-color:rgb(95, 236, 13);
color: azure;
padding: 5px;
border-radius: 5px;
border-color: green;
border:none}
